
.App{
 background-color: rgb(218, 188, 148);
}


.navbar{ text-align: center;
  background-color: gray;
  padding: 20px;
}
.Title{
  font-size: 2rem;
}

.contentGrid{
  text-align:center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
} 

.Image{
   max-width: 100%;
   height:auto;
 }


/*TOP*/



.leftTop{
background-color: firebrick;
padding:15px;
margin-top: 20%;
margin-bottom: 15%;
}

.midTop{
background-color: forestgreen;
padding:15px;
margin-top: 20%;
margin-bottom: 15%;
}

.rightTop{
background-color: fuchsia;
padding:15px;
margin-top: 20%;
margin-bottom: 15%;
}



/*MIDDLE*/


.leftMid{
background-color: indianred;
padding:15px;
margin-bottom: 25%;
}

.middle{
background-color: lightgreen;
padding:15px;
margin-bottom: 25%;
}


.rightMid{
background-color: lightpink;
padding:15px;
margin-bottom: 25%;

}


/*Bottom*/



.leftBottom{
background-color: maroon;
padding:15px;
margin-bottom: 50%;
}

.midBottom{
background-color: lime;
padding:15px;
margin-bottom: 50%;
}

.rightBottom{
background-color:mediumorchid;
padding:15px;
margin-bottom: 50%;
}








@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}












@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
